<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index'  %}">Coders Blog</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/about">Haqqımızda</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/articles/meqaleler">Meqaleler</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
              {% if request.user.is_authenticated %}

                        <li class="nav-item active">
                <a class="nav-link" href="/articles/dashboard">Dashboard</a>
                   </li>
                                 <li class="nav-item active">
                <a class="nav-link" href="/user/logout">Çıxış</a>
            </li>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ request.user.username }}
          </a>
                  {% else %}
                    <li class="nav-item active">
                <a class="nav-link" href="/user/login">Daxil ol</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/user/register">Qeydiyyat</a>
            </li>
              {% endif %}
          </ul>
        </div>

</nav>
